<div class="row my-5">
  <div class="col-1"></div>
  <div class="col">
    <div class="card text-center bg-dark">
      <div class="card-header">
        Enroll in a new subject
      </div>
      <div class="card-body pb-0">
        <table class="table table-hover">
          <tbody>
            <% subjects.forEach( function (subject) { %>
              <% if (subject.enrolled.indexOf(user.googleId) < 0) {%>
                <tr>
                  <th onclick="add('<%= subject._id %>', this)" onmouseover="overAdd(this)" onmouseout="out(this)">
                    <%= subject.subject %>
                  </th>
                </tr>
                <% } }) %>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        <a href="/account/updatesubject">
          <div class="btn btn-link"> Create a new subject </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center bg-secondary">
      <div class="card-header">
        Enrolled subjects
      </div>
      <div class="card-body pb-0">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th> edit </th> <th></th> <th></th> <th>subject to remove</th> <th></th> <th></th>
              </tr>
            <% user.enrolled.forEach( function (subject) { %>
              <tr class="table-secondary" href="#">
                <th>
                  <a href="/account/updatesubject:<%= subject.id %>" class="py-0 btn btn-sm btn-light">
                    <i class="far fa-edit"></i>
                  </a>
                </th>
                  <th colspan="5">
                  <div onclick="remove('<%= subject.id %>', this)" onmouseover="overRemove(this)"
                    onmouseout="out(this)" class="m-auto">
                    <%= subject.subject %>
                  </div>
                </th>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <div class="card-footer text-muted">
        <a href="/" class="btn btn-light"> Save changes </a>
      </div>
    </div>
  </div>
</div>
<div class="col-1"></div>
</div>

<form action="/account/addsubject" method="post" id="add" hidden>
  <input type="text" name="idadd" id="idadd">
</form>

<form action="/account/removesubject" method="post" id="remove" hidden>
  <input type="text" name="idremove" id="idremove">
</form>

<script>
  function add(id, that) {
    that.innerHTML = '<div class="spinner-border text-light spinner-border-sm" role="status"></div>'
    document.getElementById('idadd').value = id
    document.getElementById('add').submit()
  }

  function remove(id, that) {
    that.innerHTML = '<div class="spinner-border text-light spinner-border-sm" role="status"></div>'
    document.getElementById('idremove').value = id
    document.getElementById('remove').submit()
  }

  function overAdd(that) {
    if (that.innerHTML != '<div class="spinner-border text-light spinner-border-sm" role="status"></div>') {
      document.body.style.cursor = "pointer";
      that.innerHTML = `${that.innerText} <i class="far fa-check-square"></i>`
    }
  }

  function overRemove(that) {
    if (that.innerHTML != '<div class="spinner-border text-light spinner-border-sm" role="status"></div>') {
      document.body.style.cursor = "pointer";
      that.innerHTML = `${that.innerText} <i class="far fa-window-close"></i>`
    }
  }

  function out(that) {
    document.body.style.cursor = "default";
    if (that.innerHTML != '<div class="spinner-border text-light spinner-border-sm" role="status"></div>') {
      let text = that.innerText.slice(0, that.innerText.length)
      that.innerHTML = text
    }
  }
</script>